body {
    background-color: black;
    color: white;
}


/*I wanted to have the matrix 'screen' background for my website so i found a video on youtube and followed along*/
.videoDiv {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#background-video {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
}



.button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Syntes det var gøy å hjemme knappen, move the cursor around and if you cant find it use the elements part of the inspection tab*/
.link {
    position: absolute;
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 200px;
    top: 500px;
    border-radius: 10px;
    font-size: larger;
    text-decoration: none;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    opacity: 0;
    color: whitesmoke;
    font-family: monospace;

}


.link:hover {
    opacity: 1;

}

